<?php require_once('/Public/Home/header.html');?>








<div class="h-d-content">
	<div class="h-d-top">
		<img style="width:100%;height:230px;" src="/Public/Home/images/h-bg.jpg">
	</div>
	<div class="h-d-box">
		<div class=" floatL left">
			<!--<img src="__PUBLIC__/Home/images/hos-3.jpg">-->
			<img style="width:300px;height:300px;" src="__PUBLIC__/Uploads/<?php echo $info['logo'];?>">
		</div>
		<div class="floatR right">
			<div style="height:234px;">
				<img src="/Public/Home/images/hos_detial.jpg">
			</div>
			<div>
				<p style="height:120px;line-height:120px;color:black;font-size:24px;font-weight:bold;">
					<?php echo $info['name'];?>
				</p>
				<p>
					  <?php echo htmlspecialchars_decode($info['intro']);?>
				</p>				
			</div>
			
	<!--
			<div>
				<p style="height:60px;line-height:60px;color:black;font-size:18px;font-weight:bold;">
					安全塑美 诚信典范
				</p>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海华美汇集国际整形专家团队，采用权威认证的仪器及材料，建立安全整形保障机制，以专业技术与材料保障顾客手术安全；以“安全”为根本，严格自律，为每个顾客量身定制塑美方案。
					严守质量诚信，不误误导顾客，不夸大效果，保障顾客知情权，接受社会公众监督，并建立国际化规范的安全整形保障机制，做整形行业的诚信塑美高品质品牌。
				</p>	
			</div>
			<div>
				<p style="height:60px;line-height:60px;color:black;font-size:18px;font-weight:bold;">
					具有四级（高难度）整形资质医院
				</p>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海华美医疗美容医院是三级（高等级设置）整形外科医院，担负高校整形美容教学、临床科研任务，是世界专业整形美容临床教研机构之一。上海华美具备国家规定可开展高难度4级整形美容手术项目资质。
				</p>	
			</div>
	-->
		</div>
		<div class="clear"></div>
	</div>
</div>














<?php require_once('/Public/Home/footer.html');?>