<!DOCTYPE html>
<html lang="en">
<?php require_once(__ROOT__.'/Html/template/head.php');?>

<?php template_head('关于我们',array('about.css'),array());?>
<body>

	<?php require_once(__ROOT__.'/Html/template/header.html')?>

	<!-- about list full screen banner -->
	<div class=full-screen-banner>
		<img src="/Html/images/banner-about.jpg" alt="">
		<div class="show-new-activity">Show you new activities</div>
	</div>

	<div class="about-info">
		<div class="about-info-title">
			<div class="about-img">
				<img src="/Html/images/about-img.jpg" alt="">
			</div>
			<div class="about-title-img">
				<img src="/Html/images/about-title-img.png" alt="">
			</div>			
		</div>
		<div class="about-info-msg">
		
		<p>VenusCompass整形指南针成立于2009年，是一个专门做品质医美限时限量特购平台，爱美者通过参加VenusCompass整形指南针定期举行的品质特购大型活动，在保质保量完成蜕变过程的同时还可以享受最大力度的优惠价格和项目赠送。</p>
      <p>作为智慧医美平台，VenusCompass整形指南针旨在把各家实体医院打造成有互联网+思维的医院，让医院搭建起便利顾客的桥梁，通过E合联盟资源共享、资源整合。将原本高昂广告费贡献出来达到最大程度一直让利给爱美者的目的，让爱美者享受到更高品质蜕变的过程。</p>
      <p>VenusCompass整形指南针绝对是爱美者的智慧选择。</p>
		<!--
			<p>整形指南针VenusCampass成立于2009年，隶属于纽珀（中国）有限公司。</p>
       		<p>整形指南针VenusCampass是一个专门做高端医美活动的折扣平台，顾客通过参加整形指南针定期举行的大型活动，在保质保量完成蜕变过程的同时还可以享受最大力度的折扣和最优惠的价格。</p>
       		<p>整形指南针作为E合联盟成员之一，强强联手，将手里多年积攒的资源结合E合联盟的高端平台达到最大程度让利给顾客的目的。</p>
       		<p整形指南针旨在把各家实体医院打造成有互联网思维的医院></p>
			<br>
      		<p>特点：</p>
       		<p>1）一直让利给顾客 打折优惠</p>
      		<p>2）方便利民，方方面面站在顾客的角度考虑问题</p>
       		<p>3）服务好</p>
		-->
		</div>
	</div>
</body>
</html>
<script>
	$(function(){
		//定义导航栏展开
		function openFold()
		{
			$('#fold-content').slideDown(500);
		}


		//定义导航栏收起
		function closeFold()
		{
			$('#fold-content').slideUp(500);
		}

		//监听展开事件
		$('#open-fold').click(function(){
			if($('#fold-content').is(':hidden'))
			{
				openFold();
			}
			else
			{
				closeFold();
			}
		});


		//监听关闭事件
		$('#close-fold').click(function(){
			closeFold();
		});

		// top navbar run animation when window is scroll
		var initTop=0;
		$(window).scroll(function(){
			if($(this).scrollTop()>initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').addClass('hide-top')
			}
			else if($(this).scrollTop()<initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').removeClass('hide-top')
			}
		})


	})
</script>