<!DOCTYPE html>
<html lang="en">
<?php require_once(__ROOT__.'/Html/template/head.php');?>
<?php template_head('活动专场',array('activity.css'),array());?>
<body>
	<?php require_once(__ROOT__.'/Html/template/header.html')?>

	<!-- activity full screen banner -->
	<div class=full-screen-banner>
		<img src="/Html/images/banner-activity.jpg" alt="">
		<div class="show-new-activity">Show you new activities</div>
	</div>

	<!-- 活动模板 -->
	<div class="jvc-template">
		<div class="activity-item" id="jvt-template">
			<div class="activity-item-info">
				<div class="activity-date-wrap">
					<div>
						<span class="day-wrap jvc-day"></span>
					</div>
					<div>
						<span class="icon-line-v"></span>
					</div>
					<div>
						<span class="year-wrap"><span class="jvc-year"></span> years</span>
					</div>
				</div>
				<div class="activity-date-title">
					<span>活动<br>日期</span>
				</div>
			</div>
			<div class="activity-item-desc jvc-desc">
				
			</div>
			<div class="activity-item-img">
				<img src="" alt="" class="jvc-img">
			</div>
			<div class="appoint-btn">
				<a href="" title="" class="jvc-link">点击预约</a>
			</div>			
		</div>
	</div>

	<!-- 循环迭代数据 -->
	<div class="activity-item-container">
		
	</div>
</body>
</html>
<script>
	$(function(){
		$('.jvc-template').hide();
		//定义导航栏展开
		function openFold()
		{
			$('#fold-content').slideDown(500);
		}


		//定义导航栏收起
		function closeFold()
		{
			$('#fold-content').slideUp(500);
		}

		//监听展开事件
		$('#open-fold').click(function(){
			if($('#fold-content').is(':hidden'))
			{
				openFold();
			}
			else
			{
				closeFold();
			}
		});


		//监听关闭事件
		$('#close-fold').click(function(){
			closeFold();
		});

		// 顶部导航动画效果
		var initTop=0;
		$(window).scroll(function(){
			if($(this).scrollTop()>initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').addClass('hide-top')
			}
			else if($(this).scrollTop()<initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').removeClass('hide-top')
			}
		})

		// 加载列表
		$.ajax({
			url:'<?php echo A(‘a3JxYXZebiZyaXZncG5eeg%3D%3D’);?>',
			type:'POST',
			dataType:'json',
			success:function(res){
				var result=res;
				for(var i=0;i<result.length;i++)
				{
					var activity=result[i];
					var date=new Date(parseInt(activity.start_time));
					console.log(date)
					var id='activity_'+i;
					$('#jvt-template').clone().attr('id',id).show().appendTo($('.activity-item-container'));
					$('#'+id).find('.jvc-day').html(date.getDate());
					$('#'+id).find('.jvc-year').html(date.getFullYear());
					$('#'+id).find('.jvc-desc').html(activity.intro);
					$('#'+id).find('.jvc-img').attr('src','http://www.zxznz.cn/Public/Uploads/'+activity.pic);
					$('#'+id).find('.jvc-link').attr('href','index.php?a=despeak&id='+activity.id);
				}
			}
		})

		

	})
</script>