<!DOCTYPE html>
<html lang="en">
<?php require_once(__ROOT__.'/Html/template/head.php');?>
<?php template_head('活动专场',array('activity.css'),array());?>
<body>
	<?php require_once(__ROOT__.'/Html/template/header.html')?>

	<!-- activity full screen banner -->
	<div class=full-screen-banner>
		<img src="/Html/images/banner-activity.jpg" alt="">
		<div class="show-new-activity">Show you new activities</div>
	</div>

	<!-- 循环迭代数据 -->
	<div class="activity-item-container">
		<div class="activity-item">
			<div class="activity-item-info">
				<div class="activity-date-wrap">
					<div>
						<span class="day-wrap">03</span>
					</div>
					<div>
						<span class="icon-line-v"></span>
					</div>
					<div>
						<span class="year-wrap">2017 years</span>
					</div>
				</div>
				<div class="activity-date-title">
					<span>活动<br>日期</span>
				</div>
			</div>
			<div class="activity-item-desc">
				维纳斯整形&海蓝之谜智慧医美品鉴会，武汉首站，E合联盟&整形指南针联合打造全国“100城互联网+智慧医美”机构
			</div>
			<div class="activity-item-img">
				<img src="Html/images/activity-item-1.jpg" alt="">
			</div>
			<div class="appoint-btn">
				<a href="index.php?a=pay-1" title="">点击预约</a>
			</div>			
		</div>

		<div class="activity-item">
			<div class="activity-item-info">
				<div class="activity-date-wrap">
					<div>
						<span class="day-wrap">03</span>
					</div>
					<div>
						<span class="icon-line-v"></span>
					</div>
					<div>
						<span class="year-wrap">2017 years</span>
					</div>
				</div>
				<div class="activity-date-title">
					<span>活动<br>日期</span>
				</div>
			</div>
			<div class="activity-item-desc">
				维纳斯整形&海蓝之谜智慧医美品鉴会，武汉首站，E合联盟&整形指南针联合打造全国“100城互联网+智慧医美”机构
			</div>
			<div class="activity-item-img">
				<img src="/Html/images/activity-item-2.jpg" alt="">
			</div>
			<div class="appoint-btn">
				<a href="index.php?a=pay-1" title="">点击预约</a>
			</div>			
		</div>

	</div>
</body>
</html>
<script>
	$(function(){
		//定义导航栏展开
		function openFold()
		{
			$('#fold-content').slideDown(500);
		}


		//定义导航栏收起
		function closeFold()
		{
			$('#fold-content').slideUp(500);
		}

		//监听展开事件
		$('#open-fold').click(function(){
			if($('#fold-content').is(':hidden'))
			{
				openFold();
			}
			else
			{
				closeFold();
			}
		});


		//监听关闭事件
		$('#close-fold').click(function(){
			closeFold();
		});

		// 顶部导航动画效果
		var initTop=0;
		$(window).scroll(function(){
			if($(this).scrollTop()>initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').addClass('hide-top')
			}
			else if($(this).scrollTop()<initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').removeClass('hide-top')
			}
		})
	})
</script>