


	<!-- activity full screen banner -->
	<div class=full-screen-banner>
		<img src="/Html/images/banner-activity.jpg" alt="">
		<a href="activity-list.html" class="entrance-activity-btn">进入专场</a>
		<div class="show-new-activity">Show you new activities</div>
	</div>
	<div class="activity-sub-banner">
		<div><img src="/Html/images/section-2-1.jpg" alt=""></div>
	</div>

	<!-- 循环迭代数据 -->
	<div class="activity-item-container">
		<div class="activity-item clearfix">
			<div class="activity-item-img">
				<img src="/Html/images/activity-item-1.jpg" alt="">
			</div>
			<div class="activity-item-info">
				<div class="clearfix"><span class="corner-l-t"></span></div>
				<p class="info-title">智慧医美</p>
				<p class="info-msg">全国e折抢购会</p>
				<p class="line-t">——</p>
				<p class="info-time">TIME</p>
				<p class="info-date">2017/3/08-12</p>
				<div class="corner-r-b"></div>
			</div>
		</div>

		<div class="activity-item clearfix">
			<div class="activity-item-img">
				<img src="/Html/images/activity-item-2.jpg" alt="">
			</div>
			<div class="activity-item-info">
				<div class="clearfix"><span class="corner-l-t"></span></div>
				<p class="info-title">智慧医美</p>
				<p class="info-msg">全国e折抢购会</p>
				<p class="line-t">——</p>
				<p class="info-time">TIME</p>
				<p class="info-date">2017/3/08-12</p>
				<div class="corner-r-b"></div>
			</div>
		</div>

		<div class="activity-item clearfix">
			<div class="activity-item-img">
				<img src="/Html/images/activity-item-3.jpg" alt="">
			</div>
			<div class="activity-item-info">
				<div class="clearfix"><span class="corner-l-t"></span></div>
				<p class="info-title">智慧医美</p>
				<p class="info-msg">全国e折抢购会</p>
				<p class="line-t">——</p>
				<p class="info-time">TIME</p>
				<p class="info-date">2017/3/08-12</p>
				<div class="corner-r-b"></div>
			</div>
		</div>

		<div class="activity-item clearfix">
			<div class="activity-item-img">
				<img src="/Html/images/activity-item-4.jpg" alt="">
			</div>
			<div class="activity-item-info">
				<div class="clearfix"><span class="corner-l-t"></span></div>
				<p class="info-title">智慧医美</p>
				<p class="info-msg">全国e折抢购会</p>
				<p class="line-t">——</p>
				<p class="info-time">TIME</p>
				<p class="info-date">2017/3/08-12</p>
				<div class="corner-r-b"></div>
			</div>
		</div>
	</div>
