<!DOCTYPE html>
<html lang="en">
<?php require_once(__ROOT__.'/Html/template/head.php');?>
<?php template_head('支付成功',array('cash-success.css'),array());?>
<body>
	<div class="success-container">
		<div class="success-img">
			<img src="/Html/images/icon-cash-success.png" alt="">
		</div>
		<div class="success-desc">
			<p class="success-msg">恭喜您，支付成功</p>
			<p class="order-msg">您已预约xxx活动，请按时参加</p>
		</div>
	</div>
	<div class="mark">
		<div>
			活动详细信息 <a href="#" title="">m.zxznz.cn</a>
		</div>
		<div>
			订单详细信息 <a href="#">m.zxznz.cn</a>
		</div>
		<div class="tips">
			<div>友情提示：</div>
			<div>
				友情提醒是一种礼貌的表达方式，不过你这句话要分为两个方面去理解，你说的话可以有哪些地方伤害到她，而他是你的朋友，所以会不忍心说提醒你一下，而说友情提醒，还有可能就是和你开玩笑说友情提醒，你要看哪种气氛了，希望能够帮助到你。
			</div>
		</div>
	</div>
</body>
</html>