

	<!-- full screen banner -->
	<div class='full-screen-banner'>
		<img src="/Html/images/banner-contact.jpg" alt="">
		<div class="show-new-activity">Show you new activities</div>
	</div>

	<div class='contact-info'>
		<div class="contact-info-item">
			<div class="icon-wrap">
				<span class="icon-tel"></span>
			</div>
			<div class="item-msg">
				Tel：4000-21-4000
			</div>
		</div>
		<div class="contact-info-item">
			<div class="icon-wrap">
				<span class="icon-mail"></span>
			</div>
			<div class="item-msg">
				E-mail：zxznzcn@163.com
			</div>
		</div>
		<div class="contact-info-item">
			<div class="icon-wrap">
				<span class="icon-wechat"></span>
			</div>
			<div class="item-msg">
				Wechat：zxznz-cn 
			</div>
		</div>
		<div class="contact-info-item">
			<div class="icon-wrap">
				<span class="icon-address"></span>
			</div>
			<div class="item-msg">
				Address：上海市陕西北路1438号财富时代大厦25层
			</div>
		</div>
	</div>

	<iframe src="map.html">
		
	</iframe>
