<!DOCTYPE html>
<html lang="en">
<?php require_once(__ROOT__.'/Html/template/head.php');?>
<?php template_head('联系我们',['contact.css'],[]);?>
<body>
	<?php require_once(__ROOT__.'/Html/template/header.html')?>


	<!-- full screen banner -->
	<div class='full-screen-banner'>
		<img src="/Html/images/banner-contact.jpg" alt="">
		<div class="show-new-activity">Show you new activities</div>
	</div>

	<div class='contact-info'>
		<div class="contact-info-item">
			<div class="icon-wrap">
				<span class="icon-tel"></span>
			</div>
			<div class="item-msg">
				Tel：4000-21-4000
			</div>
		</div>
		<div class="contact-info-item">
			<div class="icon-wrap">
				<span class="icon-mail"></span>
			</div>
			<div class="item-msg">
				E-mail：zxznzcn@163.com
			</div>
		</div>
		<div class="contact-info-item">
			<div class="icon-wrap">
				<span class="icon-wechat"></span>
			</div>
			<div class="item-msg">
				Wechat：zxznz-cn 
			</div>
		</div>
		<div class="contact-info-item">
			<div class="icon-wrap">
				<span class="icon-address"></span>
			</div>
			<div class="item-msg">
				Address：上海市陕西北路1438号财富时代大厦25层
			</div>
		</div>
	</div>

	<iframe src="/index.php?a=map">
		
	</iframe>
</body>
</html>
<script>
	$(function(){
		//定义导航栏展开
		function openFold()
		{
			$('#fold-content').slideDown(500);
		}


		//定义导航栏收起
		function closeFold()
		{
			$('#fold-content').slideUp(500);
		}

		//监听展开事件
		$('#open-fold').click(function(){
			if($('#fold-content').is(':hidden'))
			{
				openFold();
			}
			else
			{
				closeFold();
			}
		});


		//监听关闭事件
		$('#close-fold').click(function(){
			closeFold();
		});

		// 顶部导航动画效果
		var initTop=0;
		$(window).scroll(function(){
			if($(this).scrollTop()>initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').addClass('hide-top')
			}
			else if($(this).scrollTop()<initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').removeClass('hide-top')
			}
		})
	})
</script>