<!DOCTYPE html>
<html lang="en">
<?php require_once(__ROOT__.'/Html/template/head.php');?>
<?php template_head('预约支付',array('pay.css'),array());?>
<body>
	<?php require_once(__ROOT__.'/Html/template/header.html')?>

	<div class="order-container">
		<div class="order">
			<div class="order-item-title">
				<!-- <span class="order-num">订单编号：3144166201156005</span> -->
				<span class="order-option">编辑</span>
			</div>
			<div class="order-item-info">
				<div class="product-img">
					<img src="/Html/images//product-img.jpg" alt="">
				</div>
				<div class="switch">
					<div class="product-msg">
						<div class="product-desc">深层清洁，补水注氧，提亮肤色青春解码是一项能够快速逆转皮肤衰老的皮肤类美容项目</div>
						<div class="hospital-link"><a href="#" title="">上海华美</a></div>
						<div class="product-sold">
							<span class="product-price">特购价：￥450</span>
							<span class="product-num">x2</span>
						</div>
					</div>
					<div class="product-option">
						<span class="sub">-</span>
						<input type="text" name="" value="1" class="num">
						<span class="add">+</span>
						<span class="del">删除</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="order-foot">
		<div class="order-total">
			合计：<span class="total-price">￥450</span>
		</div>
		<div class="order-submit-btn">
			<a href="javascript:void(0)" title="">结算</a>
		</div>
	</div>
</body>
</html>
<script>
	//定义导航栏展开
		function openFold()
		{
			$('#fold-content').slideDown(500);
		}


		//定义导航栏收起
		function closeFold()
		{
			$('#fold-content').slideUp(500);
		}

		//监听展开事件
		$('#open-fold').click(function(){
			if($('#fold-content').is(':hidden'))
			{
				openFold();
			}
			else
			{
				closeFold();
			}
		});


		//监听关闭事件
		$('#close-fold').click(function(){
			closeFold();
		});

		// 切换编辑模式
		$('.order-option').click(function(){
			var i=$('.order-option').index($(this));
			if($(this).html()=='编辑')
			{
				$(this).html('完成');
				$('.order').eq(i).find('.product-msg').hide();
				$('.order').eq(i).find('.product-option').show();
			}
			else
			{
				$(this).html('编辑');
				$('.order').eq(i).find('.product-msg').show();
				$('.order').eq(i).find('.product-option').hide();
			}
		})

		// 修改数量
		$('.add').click(function(){
			var num=$(this).prev().val();
			num++;
			$(this).prev().val(num);
		})
		$('.sub').click(function(){
			var num=$(this).next().val();
			if(num>1)
			{
				num--;
			}
			else
			{
				return false;
			}
			$(this).next().val(num);
		})
</script>