<?php require_once(HTML_PATH.'public'.DS.'header.html');?>



	<div class=full-screen-banner>
		<img src="/Html/images/banner-doctor-list.jpg" alt="">
		<div class="show-new-activity">Show you new activities</div>
	</div>

	<div class="doctor-introduction">
		<div class="doctor-detail-title">
			<img src="/Html/images/title-doctor-detail.png">
		</div>

		<div class="doctor-img">
			<img src="" class="jvc-doctor-img">
		</div>

		<div class="doctor-base-info">
			<div class="info-title">
				基本资料
			</div>
			<div class="base-info">
				<p><span class="key">名称：</span><span class="jvc-name val"></span></p>
				<p><span class="key">性别：</span><span class="jvc-sex val"></span></p>
				<p><span class="key">所属医院：</span><span class="jvc-hospital val"></span></p>
				<p><span class="key">职务：</span><span class="jvc-duty val"></span></p>
				<p><span class="key">职称：</span><span class="jvc-title val"></span></p>
				<p><span class="key">学历：</span><span class="jvc-edu val"></span></p>
			</div>
		</div>

		<div class="doctor-duty-info">
			<div class="info-title">
				职业信息
			</div>
			<div class="duty-info">
				<p><span class="key">擅长项目：</span><span class="jvc-good val"></span></p>
				<p><span class="key">从业时间：</span><span class="jvc-date val"></span></p>
				<p><span class="key">医生介绍：</span><span class="jvc-intro val"></span></p>
				<p><span class="key">职业经历：</span><span class="jvc-pass val"></span></p>
			</div>
		</div>

		<div class="doctor-hospital-info">
			<div class="info-title">
				医院介绍
			</div>
			<div class="hospital-info">
				<p><span class="jvc-hospital-info"></span></p>
			</div>
		</div>
	</div>
<?php require_once(HTML_PATH.'public'.DS.'footer.html');?>
