<?php require_once(HTML_PATH.'public'.DS.'header.html');?>




	
	<div class="main-container clearfix">
		
		<div class=full-screen-banner>
			<img src="/Html/images/banner-doctor-list.jpg" alt="">
			<div class="show-new-activity">Show you new activities</div>
		</div>

		<!-- doctor item template -->
		<div class="template">
			<div id="template-doctor-item" class="doctor-item">
				<div class="doctor-img"><a href="" class="jvc-doctor-link"><img src="" class="jvc-doctor-img"></a></div>
				<div class="doctor-hospital jvc-doctor-hospital"></div>
				<div class="doctor-name jvc-doctor-name"></div>
			</div>
		</div>
		
		<div class="doctor-list" id="doctor-list">
			
		</div>
	</div>
<?php require_once(HTML_PATH.'public'.DS.'footer.html');?>
