<!DOCTYPE html>
<html lang="en">
<?php require_once(__ROOT__.'/Html/template/head.php');?>
<?php template_head('专家详情',array('doctor-detail.css'),array());?>
<body>
	<?php require_once(__ROOT__.'/Html/template/header.html')?>

	<div class=full-screen-banner>
		<img src="/Html/images/banner-doctor-list.jpg" alt="">
		<div class="show-new-activity">Show you new activities</div>
	</div>

	<div class="doctor-introduction">
		<div class="doctor-detail-title">
			<img src="/Html/images/title-doctor-detail.png">
		</div>

		<div class="doctor-img">
			<img src="" class="jvc-doctor-img">
		</div>

		<div class="doctor-base-info">
			<div class="info-title">
				基本资料
			</div>
			<div class="base-info">
				<p><span class="key">名称：</span><span class="jvc-name val"></span></p>
				<p><span class="key">性别：</span><span class="jvc-sex val"></span></p>
				<p><span class="key">所属医院：</span><span class="jvc-hospital val"></span></p>
				<p><span class="key">职务：</span><span class="jvc-duty val"></span></p>
				<p><span class="key">职称：</span><span class="jvc-title val"></span></p>
				<p><span class="key">学历：</span><span class="jvc-edu val"></span></p>
			</div>
		</div>

		<div class="doctor-duty-info">
			<div class="info-title">
				职业信息
			</div>
			<div class="duty-info">
				<p><span class="key">擅长项目：</span><span class="jvc-good val"></span></p>
				<p><span class="key">从业时间：</span><span class="jvc-date val"></span></p>
				<p><span class="key">医生介绍：</span><span class="jvc-intro val"></span></p>
				<p><span class="key">职业经历：</span><span class="jvc-pass val"></span></p>
			</div>
		</div>

		<div class="doctor-hospital-info">
			<div class="info-title">
				医院介绍
			</div>
			<div class="hospital-info">
				<p><span class="jvc-hospital-info"></span></p>
			</div>
		</div>
	</div>
</body>
</html>
<script>
	$(function(){
		$('.template').hide();
		//定义导航栏展开
		function openFold()
		{
			$('#fold-content').slideDown(500);
		}


		//定义导航栏收起
		function closeFold()
		{
			$('#fold-content').slideUp(500);
		}

		//监听展开事件
		$('#open-fold').click(function(){
			if($('#fold-content').is(':hidden'))
			{
				openFold();
			}
			else
			{
				closeFold();
			}
		});


		//监听关闭事件
		$('#close-fold').click(function(){
			closeFold();
		});

		// 顶部导航动画效果
		var initTop=0;
		$(window).scroll(function(){
			if($(this).scrollTop()>initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').addClass('hide-top')
			}
			else if($(this).scrollTop()<initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').removeClass('hide-top')
			}
		})

		var id=location.search.match(/&id=\d{1,}/)[0].substring(4);//获取查询串
		
		$.ajax({
			// url: 'http://www.zxznz.cn/index.php/Api/Doctor/detial',
			url: "<?php echo A('eW52Z3JxXm4mZWJncGJxXno%3D');?>",
			type: 'POST',
			data: {'id':id},
			dataType: 'json',
			success: function(res){
				if(res.status==true)
				{
					$('.jvc-doctor-img').attr('src','http://www.zxznz.cn/Public/Uploads/'+res.info.picture);
					$('.jvc-name').html(res.info.name);
					$('.jvc-sex').html(res.info.sex);
					$('.jvc-hospital').html(res.info.hos_name);
					$('.jvc-duty').html(res.info.duty);
					$('.jvc-title').html(res.info.title);
					$('.jvc-edu').html(res.info.edu);
					$('.jvc-good').html(res.info.good);
					$('.jvc-date').html(res.info.start);
					$('.jvc-intro').html(res.info.intro);
					var passArr=res.info.pass.split("-----");
					for(var i=0;i<passArr.length;i++)
					{
						$('.jvc-pass').append("<p>"+passArr[i]+"</p>")
					}
					$('.jvc-hospital-info').html(res.info.hos_intro);
				}
			}
		})
	})
</script>