<!DOCTYPE html>
<html lang="en">
<?php require_once(__ROOT__.'/Html/template/head.php');?>
<?php template_head('专家库',['doctor-list.css'],[]);?>
<body>
	<?php require_once(__ROOT__.'/Html/template/header.html')?>

	<div class="main-container clearfix">
		
		<div class=full-screen-banner>
			<img src="/Html/images/banner-doctor-list.jpg" alt="">
			<div class="show-new-activity">Show you new activities</div>
		</div>

		<!-- doctor item template -->
		<div class="template">
			<div id="template-doctor-item" class="doctor-item">
				<div class="doctor-img"><a href="" class="jvc-doctor-link"><img src="" class="jvc-doctor-img"></a></div>
				<div class="doctor-hospital jvc-doctor-hospital"></div>
				<div class="doctor-name jvc-doctor-name"></div>
			</div>
		</div>
		
		<div class="doctor-list" id="doctor-list">
			
		</div>
	</div>
</body>
</html>

<script>
	$(function(){
		$('.template').hide();
		//定义导航栏展开
		function openFold()
		{
			$('#fold-content').slideDown(500);
		}


		//定义导航栏收起
		function closeFold()
		{
			$('#fold-content').slideUp(500);
		}

		//监听展开事件
		$('#open-fold').click(function(){
			if($('#fold-content').is(':hidden'))
			{
				openFold();
			}
			else
			{
				closeFold();
			}
		});


		//监听关闭事件
		$('#close-fold').click(function(){
			closeFold();
		});

		// 顶部导航动画效果
		var initTop=0;
		$(window).scroll(function(){
			if($(this).scrollTop()>initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').addClass('hide-top')
			}
			else if($(this).scrollTop()<initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').removeClass('hide-top')
			}
		})
		function load(page){
			$.ajax({
				url:'http://www.zxznz.cn/index.php/Api/Doctor/',
				type: "POST",
				data: {'page':page},
				dataType:'json',
				success: function(res){
					var result=res;
					var p=page-1;
					if(result.status==true)
					{
						var doctor=result.doctor;
						for(var i=0;i<doctor.length;i++)
						{
							var p=page-1;
							var id='doctor-item-'+8*p+i;
							var item=doctor[i];
							$('#template-doctor-item').clone().attr('id',id).show().appendTo($('#doctor-list'));
							$('#'+id).find('.jvc-doctor-img').attr('src','http://www.zxznz.cn/Public/Uploads/'+item.picture);
							$('#'+id).find('.jvc-doctor-name').html(item.name);
							$('#'+id).find('.jvc-doctor-hospital').html(item.hos_name);
							$('#'+id).find('.jvc-doctor-link').attr('href','index.php?a=doctor-detail&id='+item.id);
						}
					}
				}
			})
		}
		var i=1;
		load(1);
		$(document).scroll(function(){
			var viewH =$(this).height();//可见高度   
			var scrollTop =$(this).scrollTop();//滚动高度
			var contentTop=$(window).height();
		 	if(scrollTop/(viewH-contentTop)>=0.95){
		 		i++;
		 		load(i);
		 	}
		 	
		})
          
	})
</script>