<?php require_once(HTML_PATH.'public'.DS.'header.html');?>

	

	<!-- full screen banner -->

	<div class="full-screen-banner">
		<img src="/Html/images/banner-fashion.jpg" alt="">
	</div>


	<!-- fashion item container -->

	<div class="fashion-item-container">
		<div class="fashion-item">
			<div>
				<img src="/Html/images/fashion-item-1.jpg" alt="">
			</div>
			<div class="fashion-item-msg">
				<p class="date-year">2017</p>
				<p class="date-date">-02.20-</p>
				<p class="line-v">|</p>
				<p class="mark">瘦身只需一次</p>
			</div>
		</div>
		<div class="fashion-item">
			<div>
				<img src="/Html/images/fashion-item-2.jpg" alt="">
			</div>
			<div class="fashion-item-msg">
				<p class="date-year">2017</p>
				<p class="date-date">-02.20-</p>
				<p class="line-v">|</p>
				<p class="mark">谁来拯救你<br>斑女郎</p>
			</div>
		</div>
		<div class="fashion-item">
			<div>
				<img src="/Html/images/fashion-item-1.jpg" alt="">
			</div>
			<div class="fashion-item-msg">
				<p class="date-year">2017</p>
				<p class="date-date">-02.20-</p>
				<p class="line-v">|</p>
				<p class="mark">瘦身只需一次</p>
			</div>
		</div>
		<div class="fashion-item">
			<div>
				<img src="/Html/images/fashion-item-2.jpg" alt="">
			</div>
			<div class="fashion-item-msg">
				<p class="date-year">2017</p>
				<p class="date-date">-02.20-</p>
				<p class="line-v">|</p>
				<p class="mark">谁来拯救你<br>斑女郎</p>
			</div>
		</div>
	</div>
<?php require_once(HTML_PATH.'public'.DS.'footer.html');?>
