<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
	<meta name="full-screen" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="screen-orientation" content="portrait">
	<meta name="browsermode" content="application">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="x5-orientation" content="portrait">
	<meta name="x5-fullscreen" content="true">
	<meta name="x5-page-mode" content="app">
	<title>医院</title>
	<link rel="stylesheet" href="/Html/style/global.css">
	<link rel="stylesheet" href="/Html/style/hospital-list.css">
	<script src="/Html/js/jquery-1.11.3.min.js"></script>
	<!-- <script src="http://libs.baidu.com/jqueryui/1.8.22/jquery-ui.min.js "></script> -->
	<!-- <script src="/Html/js/jquery.fullpage.js"></script> -->
	<!-- <script src="/Html/js/jquery.touchSwipe.min.js"></script> -->
	<script>
		$('html').attr('style','font-size:'+$(window).width()/10+'px');
	</script>
</head>
<body>

	<!-- header nav -->
	<div class="top-fixed">
		<div class="top-logo">
			<img src="/Html/images/logo.png" alt="">
		</div>
		<div class="nav">
			<span class="icon icon-fold" id="open-fold"></span>
			<div class="fold-content" id="fold-content">
				<ul>
					<li><a href="index.html">首页</a></li>
					<li><a href="about.html">关于我们</a></li>
					<li><a href="fashion.html">前沿发布</a></li>
					<li><a href="activity.html">活动专场</a></li>
					<li><a href="doctor-list.html">专家库</a></li>
					<li><a href="hospital-list.html">医院专区</a></li>
					<li><a href="guide.html">整形助手</a></li>
					<li><a href="contact.html">联系我们</a></li>
				</ul>
				<div>
					<a href="javascript:void(0)" class="icon icon-close" id="close-fold"></a>
				</div>
			</div>
		</div>
	</div>

	<!-- hospital list full screen banner -->
	<div class=full-screen-banner>
		<img src="/Html/images/banner-hospital.jpg" alt="">
		<div class="show-new-activity">Show you new activities</div>
	</div>

	<!-- hospital list container -->
	<div class="hospital-container" id="hospital-list">
		
	</div>

	<!-- hospital list item template -->
	<div class="hospital-item template" id="template-hospital-item">
		<div class="hospital-img">
			<a href="" class="jvc-hospital-link"><img src="/Html/images/" alt="" class="jvc-hospital-img"></a>
		</div>
		<div class="hospital-name jvc-hospital-name">
			
		</div>
	</div>
</body>
</html>
<script>
	$(function(){

		$('.template').hide();
		//定义导航栏展开
		function openFold()
		{
			$('#fold-content').slideDown(500);
		}


		//定义导航栏收起
		function closeFold()
		{
			$('#fold-content').slideUp(500);
		}

		//监听展开事件
		$('#open-fold').click(function(){
			if($('#fold-content').is(':hidden'))
			{
				openFold();
			}
			else
			{
				closeFold();
			}
		});


		//监听关闭事件
		$('#close-fold').click(function(){
			closeFold();
		});

		// top navbar run animation when window is scroll
		var initTop=0;
		$(window).scroll(function(){
			if($(this).scrollTop()>initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').addClass('hide-top')
			}
			else if($(this).scrollTop()<initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').removeClass('hide-top')
			}
		})

		// load hospital item ajax
		function load(page){
			$.ajax({
				url:'http://www.zxznz.cn/api.php/api/Hospital/index',
				type: "POST",
				data: {'page':page},
				dataType:'json',
				success: function(res){
					var result=res;
					var p=page-1;
					if(result.status==true)
					{
						var hospital=result.hospital;
						for(var i=0;i<hospital.length;i++)
						{
							var p=page-1;
							var id='hospital-item-'+8*p+i;
							var item=hospital[i];
							$('#template-hospital-item').clone().attr('id',id).show().appendTo($('#hospital-list'));
							$('#'+id).find('.jvc-hospital-img').attr('src','http://www.zxznz.cn/Public/Uploads/'+item.logo);
							$('#'+id).find('.jvc-hospital-name').html(item.name);
							$('#'+id).find('.jvc-hospital-link').attr('href','hospital-detail.html?id='+item.id);
						}
					}
				}
			})		
		}
		
		// dropload refresh
		var i=1;
		load(1);
		$(document).scroll(function(){
			var viewH =$(this).height();//可见高度   
			var scrollTop =$(this).scrollTop();//滚动高度
			var contentTop=$(window).height();
		 	if(scrollTop/(viewH-contentTop)>=0.95){
		 		i++;
		 		load(i);
		 	}
		 	
		})


	})
</script>