<?php require_once(HTML_PATH.'public'.DS.'header.html');?>


	

	<!-- hospital list full screen banner -->
	<div class=full-screen-banner>
		<img src="/Html/images/banner-hospital.jpg" alt="">
		<div class="show-new-activity">Show you new activities</div>
	</div>

	<!-- hospital list container -->
	<div class="hospital-container" id="hospital-list">
		
	</div>

	<!-- hospital list item template -->
	<div class="hospital-item template" id="template-hospital-item">
		<div class="hospital-img">
			<a href="" class="jvc-hospital-link"><img src="/Html/images/" alt="" class="jvc-hospital-img"></a>
		</div>
		<div class="hospital-name jvc-hospital-name">
			
		</div>
	</div>
<?php require_once(HTML_PATH.'public'.DS.'footer.html');?>
