<!DOCTYPE html>
<html>
<?php require_once(__ROOT__.'/Html/template/head.php');?>
<?php template_head('医院详情',array('hospital-detail.css'),array());?>
<body>
	<?php require_once(__ROOT__.'/Html/template/header.html')?>

	<div class=full-screen-banner>
		<img src="/Html/images/banner-hospital.jpg" alt="">
		<div class="show-new-activity">Show you new activities</div>
	</div>
	
	<div class="hospital-introduction">
		<div class="hospital-detail-title">
			<img src="/Html/images/title-hospital-detail.png">
		</div>

		<div class="hospital-img">
			<img src="" class="jvc-hospital-img">
		</div>

		<div class="hospital-name jvc-hospital-name">
			
		</div>

		<div class="hospital-info jvc-hospital-info">
			
		</div>
	</div>
</body>
</html>
<script>
	$(function(){
		$('.template').hide();
		//定义导航栏展开
		function openFold()
		{
			$('#fold-content').slideDown(500);
		}


		//定义导航栏收起
		function closeFold()
		{
			$('#fold-content').slideUp(500);
		}

		//监听展开事件
		$('#open-fold').click(function(){
			if($('#fold-content').is(':hidden'))
			{
				openFold();
			}
			else
			{
				closeFold();
			}
		});


		//监听关闭事件
		$('#close-fold').click(function(){
			closeFold();
		});

		// 顶部导航动画效果
		var initTop=0;
		$(window).scroll(function(){
			if($(this).scrollTop()>initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').addClass('hide-top')
			}
			else if($(this).scrollTop()<initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').removeClass('hide-top')
			}
		})

		var id=location.search.match(/&id=\d{1,}/)[0].substring(4);//获取查询串

		$.ajax({
			// url: 'http://www.zxznz.cn/api.php/api/Hospital/detial',
			url: "<?php echo A('eW52Z3JxXm4meW5ndmNmYnVeeg%3D%3D');?>",
			type: 'POST',
			data: {'id':id},
			dataType: 'json',
			success: function(res){
				if(res.status==true)
				{
					$('.jvc-hospital-img').attr('src','http://www.zxznz.cn/Public/Uploads/'+res.info.logo);
					$('.jvc-hospital-name').html(res.info.name);
					$('.jvc-hospital-info').html(res.info.intro);
				}
			}
		})
	})
</script>