<!DOCTYPE html>
<html lang="en">
<?php require_once(__ROOT__.'/Html/template/head.php');?>
<?php template_head('医院专区',array('hospital-list.css'),array());?>
<body>

	<?php require_once(__ROOT__.'/Html/template/header.html')?>
	

	<!-- hospital list full screen banner -->
	<div class=full-screen-banner>
		<img src="/Html/images/banner-hospital.jpg" alt="">
		<div class="show-new-activity">Show you new activities</div>
	</div>

	<!-- hospital list container -->
	<div class="hospital-container" id="hospital-list">
		
	</div>

	<!-- hospital list item template -->
	<div class="hospital-item template" id="template-hospital-item">
		<div class="hospital-img">
			<a href="" class="jvc-hospital-link"><img src="/Html/images/" alt="" class="jvc-hospital-img"></a>
		</div>
		<div class="hospital-name jvc-hospital-name">
			
		</div>
	</div>
</body>
</html>
<script>
	$(function(){

		$('.template').hide();
		//定义导航栏展开
		function openFold()
		{
			$('#fold-content').slideDown(500);
		}


		//定义导航栏收起
		function closeFold()
		{
			$('#fold-content').slideUp(500);
		}

		//监听展开事件
		$('#open-fold').click(function(){
			if($('#fold-content').is(':hidden'))
			{
				openFold();
			}
			else
			{
				closeFold();
			}
		});


		//监听关闭事件
		$('#close-fold').click(function(){
			closeFold();
		});

		// top navbar run animation when window is scroll
		var initTop=0;
		$(window).scroll(function(){
			if($(this).scrollTop()>initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').addClass('hide-top')
			}
			else if($(this).scrollTop()<initTop)
			{
				initTop=$(this).scrollTop();
				$('.top-fixed').removeClass('hide-top')
			}
		})

		// load hospital item ajax
		function load(page){
			$.ajax({
				url:'http://www.zxznz.cn/api.php/api/Hospital/index',
				type: "POST",
				data: {'page':page},
				dataType:'json',
				success: function(res){
					var result=res;
					var p=page-1;
					if(result.status==true)
					{
						var hospital=result.hospital;
						for(var i=0;i<hospital.length;i++)
						{
							var p=page-1;
							var id='hospital-item-'+8*p+i;
							var item=hospital[i];
							$('#template-hospital-item').clone().attr('id',id).show().appendTo($('#hospital-list'));
							$('#'+id).find('.jvc-hospital-img').attr('src','http://www.zxznz.cn/Public/Uploads/'+item.logo);
							$('#'+id).find('.jvc-hospital-name').html(item.name);
							$('#'+id).find('.jvc-hospital-link').attr('href','index.php?a=hospital-detail&id='+item.id);
						}
					}
				}
			})		
		}
		
		// dropload refresh
		var i=1;
		load(1);
		$(document).scroll(function(){
			var viewH =$(this).height();//可见高度   
			var scrollTop =$(this).scrollTop();//滚动高度
			var contentTop=$(window).height();
		 	if(scrollTop/(viewH-contentTop)>=0.95){
		 		i++;
		 		load(i);
		 	}
		 	
		})


	})
</script>