

	<div class=full-screen-banner>
		<img src="/Html/images/banner-hospital.jpg" alt="">
		<div class="show-new-activity">Show you new activities</div>
	</div>
	
	<div class="hospital-introduction">
		<div class="hospital-detail-title">
			<img src="/Html/images/title-hospital-detail.png">
		</div>

		<div class="hospital-img">
			<img src="" class="jvc-hospital-img">
		</div>

		<div class="hospital-name jvc-hospital-name">
			
		</div>

		<div class="hospital-info jvc-hospital-info">
			
		</div>
	</div>
