<!DOCTYPE html>
<html lang="en">
	<?php require_once(__ROOT__.'/Html/template/head.php');?>
	<?php template_head('首页',array('index.css'),array('jquery.fullpage.js','jquery.touchSwipe.min.js'));?>
<body>
	<?php require_once(__ROOT__.'/Html/template/header.html')?>
	
	<div id="fullpage">
	<!-- section-1 -->

	<div class="section section-1">
		<img src="/Html/images/section-content-1.png" alt="">
	</div>


	<!-- section-2 -->

	<div class="section section-2">
		<div class="section-title">
			<img src="/Html/images/section-title-2.png" alt="">
		</div>
		<div>
			<img src="/Html/images/section-2-1.jpg" alt="">
		</div>
		<div>
			<img src="/Html/images/section-2-2.jpg" alt="">
		</div>	
		<!-- <div>
			<a href="javascript:void(0)" class="more-btn">全部活动</a>
		</div> -->
	</div>


	<!-- section3 -->

	<div class="section section-3">
		<div class="section-title">
			<img src="/Html/images/section-title-3.png" alt="">
		</div>
		<div>
			<img src="/Html/images/section-3-1.jpg" alt="">
		</div>
		<div class="sub-img clearfix">
			<img src="/Html/images/section-3-2.jpg" alt="" class="left">
			<img src="/Html/images/section-3-3.jpg" alt="" class="right">
		</div>
		<div class="sub-img clearfix">
			<img src="/Html/images/section-3-4.jpg" alt="" class="left">
			<img src="/Html/images/section-3-5.jpg" alt="" class="right">
		</div>
		<!-- <div>
			<a href="javascript:void(0)" class="more-btn">查看全部</a>
		</div> -->
	</div>



	<!-- section-4 -->

	<div class="section section-4">
		<div class="section-title">
			<img src="/Html/images/section-title-4.png" alt="">
		</div>
		<div class="show" id="show-doctor">
			<div class="doctor-container" id="carousel-doctor">
			<!-- doctor第一屏 -->
				<div class="carousel-item">
					<div class="doctor-content clearfix">
						<div class="doctor-item left">
							<div class="doctor-img">
								<a href="" id="doctorlink-0-0"><img src="" alt="" id="doctorimg-0-0"></a>
							</div>
							<p id="doctorname-0-0"></p>
						</div>
						<div class="doctor-item right">
							<div  class="doctor-img">
								<a href="" id="doctorlink-0-1"><img src="" alt="" id="doctorimg-0-1"></a>
							</div>
							<p id="doctorname-0-1"></p>
						</div>
					</div>
					<div class="doctor-content clearfix">
						<div class="doctor-item left">
							<div class="doctor-img">
								<a href="" id="doctorlink-0-2"><img src="" alt="" id="doctorimg-0-2"></a>
							</div>
							<p id="doctorname-0-2"></p>
						</div>
						<div class="doctor-item right">
							<div class="doctor-img">
								<a href="" id="doctorlink-0-3"><img src="" alt="" id="doctorimg-0-3"></a>
							</div>
							<p id="doctorname-0-3"></p>
						</div>
					</div>
				</div>
			<!-- doctor第二屏 -->
				<div class="carousel-item">
					<div class="doctor-content clearfix">
						<div class="doctor-item left">
							<div class="doctor-img">
								<a href="" id="doctorlink-1-0"><img src="" alt="" id="doctorimg-1-0"></a>
							</div>
							<p id="doctorname-1-0"></p>
						</div>
						<div class="doctor-item right">
							<div class="doctor-img">
								<a href="" id="doctorlink-1-1"><img src="" alt="" id="doctorimg-1-1"></a>
							</div>
							<p id="doctorname-1-1"></p>
						</div>
					</div>
					<div class="doctor-content clearfix">
						<div class="doctor-item left">
							<div class="doctor-img">
								<a href="" id="doctorlink-1-2"><img src="" alt="" id="doctorimg-1-2"></a>
							</div>
							<p id="doctorname-1-2"></p>
						</div>
						<div class="doctor-item right">
							<div class="doctor-img">
								<a href="" id="doctorlink-1-3"><img src="" alt="" id="doctorimg-1-3"></a>
							</div>	
							<p id="doctorname-1-3"></p>
						</div>
					</div>
				</div>
			<!-- doctor第三屏 -->
				<div class="carousel-item">
					<div class="doctor-content clearfix">
						<div class="doctor-item left">
							<div class="doctor-img">
								<a href="" id="doctorlink-2-0"><img src="" alt="" id="doctorimg-2-0"></a>
							</div>
							<p id="doctorname-2-0"></p>
						</div>
						<div class="doctor-item right">
							<div class="doctor-img">
								<a href="" id="doctorlink-2-1"><img src="" alt="" id="doctorimg-2-1"></a>
							</div>
							<p id="doctorname-2-1"></p>
						</div>
					</div>
					<div class="doctor-content clearfix">
						<div class="doctor-item left">
							<div class="doctor-img">
								<a href="" id="doctorlink-2-2"><img src="" alt="" id="doctorimg-2-2"></a>
							</div>								
							<p id="doctorname-2-2"></p>
						</div>
						<div class="doctor-item right">
							<div class="doctor-img">
								<a href="" id="doctorlink-2-3"><img src="" alt="" id="doctorimg-2-3"></a>
							</div>
							<p id="doctorname-2-3"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-dot dot-item-1">
			<ul>
				<li class="active"></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<!-- <div>
			<a href="javascript:void(0)" class="more-btn">进入专家库</a>
		</div> -->
	</div>



	<!-- section-5 -->

	<div class="section section-5">
		<div class="section-title">
			<img src="/Html/images/section-title-5.png" alt="">
		</div>
		<div class="show-2" id="show-2">
			<div class="show-container" id="carousel-2">
			<!-- 第一屏 -->
				<div class="sub-item">
					<div class="sub-1 sub">
						<a href="" id="hospital-link-0-0"><img src="" alt="" class="left" id="hospital-0-0"></a>
						<div class="right">
							<p class="main-title">01</p>
							<p class="sub-title">recommend</p>
						</div>
					</div>
					<div class="sub-2 sub clearfix">
						<a href="" id="hospital-link-0-1"><img src="" alt="" class="left" id="hospital-0-1"></a>
						<a href="" id="hospital-link-0-2"><img src="" alt="" class="right" id="hospital-0-2"></a>
					</div>
				</div>
			<!--  第二屏-->
				<div class="sub-item">
					<div class="sub-1 sub">
						<a href="" id="hospital-link-1-0"><img src="" alt="" class="left" id="hospital-1-0"></a>
						<div class="right">
							<p class="main-title">02</p>
							<p class="sub-title">recommend</p>
						</div>
					</div>
					<div class="sub-2 sub clearfix">
						<a href="" id="hospital-link-1-1"><img src="" alt="" class="left" id="hospital-1-1"></a>
						<a href="" id="hospital-link-1-2"><img src="" alt="" class="right" id="hospital-1-2"></a>
					</div>
				</div>
			<!--  第三屏-->
				<div class="sub-item">
					<div class="sub-1 sub">
						<a href="" id="hospital-link-2-0"><img src="" alt="" class="left" id="hospital-2-0"></a>
						<div class="right">
							<p class="main-title">03</p>
							<p class="sub-title">recommend</p>
						</div>
					</div>
					<div class="sub-2 sub clearfix">
						<a href="" id="hospital-link-2-1"><img src="" alt="" class="left" id="hospital-2-1"></a>
						<a href="" id="hospital-link-2-2"><img src="" alt="" class="right" id="hospital-2-2"></a>
					</div>
				</div>
				
			</div>
		</div>
		<div class="carousel-dot dot-item-2">
			<ul>
				<li class="active"></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<!-- <div>
			<a href="javascript:void(0)" class="more-btn">进入专区</a>
		</div> -->
	</div>

	<!-- section-6 -->
	<div class="section section-6">
		<div class="icon" id="back-top"></div>
		<div>
			<p class="ch">返回顶部</p>
			<p class="en">Back top</p>
		</div>
	</div>
	</div>
</body>
</html>
<script>
	$(document).ready(function()
	{


		//定义导航栏展开
		function openFold()
		{
			$('#fold-content').slideDown(500);
		}


		//定义导航栏收起
		function closeFold()
		{
			$('#fold-content').slideUp(500);
		}

		//监听展开事件
		$('#open-fold').click(function(){
			if($('#fold-content').is(':hidden'))
			{
				openFold();
			}
			else
			{
				closeFold();
			}
		});


		//监听关闭事件
		$('#close-fold').click(function(){
			closeFold();
		});


		//全屏滚动插件初始化
		$('#fullpage').fullpage({
			onLeave:function(index, nextIndex, direction){
				if(index == 1)
				{
					$('.top-fixed').animate({'top':'-80px'},800);
				}
				if(index == 2 && direction == 'up')
				{
					$('.top-fixed').animate({'top':'0'},800);
				}
			}
		});

		//回到顶部按钮
		$('#back-top').click(function(){
			$('#fullpage').fullpage.moveTo(1);
			$('.top-fixed').animate({'top':'0'},800);
		});


		//翻页
		//定义一个全局变量，存储当前的轮播图所在的屏数
		var i='';
		var w=$('#show-doctor').width();
		//下一页
		function next()
		{
			if(i==2)
			{
				return false;
			}
			else
			{
				i++;
				$('#carousel-doctor').animate({'margin-left':-w * i + 'px'},500);
				$('.dot-item-1 li').eq(i).addClass('active').siblings().removeClass('active');
			}
		}

		
		//上一页
		function prev()
		{
			if(i==0)
			{
				return false;
			}
			else
			{
				i--;
				$('#carousel-doctor').animate({'margin-left':-w * i + 'px'},500);
				$('.dot-item-1 li').eq(i).addClass('active').siblings().removeClass('active');
			}
		}

		//跳到指定页
		function jumpIndex(index,obj,objdot)
		{
			obj.animate({'margin-left':-w * index + 'px'},500);
			objdot.eq(index).addClass('active').siblings().removeClass('active');
		}

		// index dot 绑定事件
		$('.dot-item-1 li').click(function(){
			i=$('.dot-item-1 li').index($(this));
			jumpIndex(i,$('#carousel-doctor'),$('.dot-item-1 li'));
		})
		$('.dot-item-2 li').click(function(){
			i=$('.dot-item-2 li').index($(this));
			jumpIndex(i,$('#carousel-2'),$('.dot-item-2 li'));
		})
		//carousel-doctor左右滑动事件绑定
		// $('#show-doctor').swipe({
		// 	swipeLeft:function(){
		// 		next();
		// 	},
		// 	swipeRight:function(){
		// 		prev();
		// 	}
		// 	// excludedElements:"button"
		// })

		$('#show-doctor').swipe({
			click: function(event, target) {
		            window.location.href=$(target).parent().attr('href')
		        },
	        swipeLeft:function(){
				next();
			},
			swipeRight:function(){
				prev();
			},
			excludedElements:"",
			threshold: 75
		})
		//carousel-2定义左右滑动事件
		//下一页
		function next_2()
		{
			if(x==2)
			{
				return false;
			}
			else
			{
				x++;
				$('#carousel-2').animate({'margin-left':-w * x + 'px'},500);
				$('.dot-item-2 li').eq(x).addClass('active').siblings().removeClass('active');
			}
		}

		var x="";
		//上一页
		function prev_2()
		{
			if(x==0)
			{
				return false;
			}
			else
			{
				x--;
				$('#carousel-2').animate({'margin-left':-w * x + 'px'},500);
				$('.dot-item-2 li').eq(x).addClass('active').siblings().removeClass('active');
			}
		}
		$('#show-2').swipe({
			click: function(event, target) {
		            window.location.href=$(target).parent().attr('href')
		        },
	        swipeLeft:function(){
				next_2();
			},
			swipeRight:function(){
				prev_2();
			},
			excludedElements:"",
			threshold: 75
		})
		function load()
		{
			$.ajax({
				// url:'http://www.zxznz.cn/api.php/api',
				url:"<?php echo A('eXluXm4ma3JxYXZeeg%3D%3D');?>",
				success:function(data)
				{
					var data=$.parseJSON(data);
					if(data.status==true)
					{
						var doctorData=data.doctor;
						var hospitalData=data.hospital;
						// 遍历医生数据
						for(var d=0;d<doctorData.length;d++)
						{
							var doctorItem=doctorData[d];
							for(var f=0;f<doctorItem.length;f++)
							{
								var doctor=doctorItem[f];
								$('#doctorimg-'+d+'-'+f).attr('src','http://www.zxznz.cn/Public/Uploads/'+doctor.picture);
								$('#doctorname-'+d+'-'+f).html(doctor.name);
								$('#doctorlink-'+d+'-'+f).attr('href','index.php?a=doctor-detail&id='+doctor.id);
							}
						}

						// 遍历医院数据
						for(var h=0;h<hospitalData.length;h++)
						{
							var hospitalItem=hospitalData[h];
							for(var j=0;j<hospitalItem.length;j++)
							{
								var hospital=hospitalItem[j];
								$('#hospital-'+h+'-'+j).attr('src','http://www.zxznz.cn/Public/Uploads/'+hospital.logo);
								$('#hospital-link-'+h+'-'+j).attr('href','index.php?a=hospital-detail&id='+hospital.id)
							}
						}
					}
				}
			})
		}
		load();
	})
</script>