<?php require_once(HTML_PATH.'public'.DS.'header.html');?>

	<!-- login form group -->
	<div class="form-group">
		<div class="input-group">
			<input type="text" placeholder="手机号或用户名">
			<input type="password" placeholder="密码">
		</div>
		<div class="error-msg">
			糟糕！密码错了 <a href="javascript:void(0)">修改密码</a>
		</div>
		<div class="login-btn">
			<a href="javascript:void(0)">登陆</a>
		</div>
		<div class="register-link">
			<a href="javascript:void(0)">先去注册</a>
		</div>
	</div>
<?php require_once(HTML_PATH.'public'.DS.'footer.html');?>
