<!DOCTYPE html>
<html lang="en">
<?php require_once(__ROOT__.'/Html/template/head.php');?>
<?php template_head('登陆',array('login.css'),array());?>
<body>

	<!-- header avatar && background -->
	<div class="header-bg">
		<div class="avatar">
			<img src="/Html/images/avatar-default.png" alt="">
		</div>
	</div>

	<!-- login form group -->
	<div class="form-group">
		<form action="">
			<div class="input-group">
				<input type="text" placeholder="手机号或用户名">
				<input type="password" placeholder="密码">
				<input type="hidden" name="">
				<input type="hidden" name="">
			</div>
			<div class="error-msg">
				糟糕！密码错了 <a href="javascript:void(0)">修改密码</a>
			</div>
			<div class="login-btn">
				<a href="javascript:void(0)">登陆</a>
			</div>
			<div class="register-link">
				<a href="javascript:void(0)">先去注册</a>
			</div>
		</form>
	</div>
</body>
</html>