<!DOCTYPE html>
<html lang="en">
<?php require_once(__ROOT__.'/Html/template/head.php');?>
<?php template_head('预约支付',array('pay.css'),array());?>
<body>
	<?php require_once(__ROOT__.'/Html/template/header.html')?>

	<div class="pay-success">
		<div class="success-img">
			<img src="/Html/images/icon/icon-success.png" alt="">
		</div>
		<div class="success-msg">
			订单支付成功
		</div>
		<div class="back-index">
			<a href="index.php?a=index" title="">返回首页</a>
		</div>
		<div class="info-order-num">
			<span class="info-title">订单编号：</span><span class="info-desc">123456789</span>
		</div>
		<div class="info-pay-method">
			<span class="info-title">交易方式：</span><span class="info-desc">微信支付</span>
		</div>
		<div class="info-order-date">
			<span class="info-title">下单时间：</span><span class="info-desc">2017.4.5 12:01</span>
		</div>
	</div>
</body>
</html>
<script>
//定义导航栏展开
function openFold()
{
	$('#fold-content').slideDown(500);
}


//定义导航栏收起
function closeFold()
{
	$('#fold-content').slideUp(500);
}

//监听展开事件
$('#open-fold').click(function(){
	if($('#fold-content').is(':hidden'))
	{
		openFold();
	}
	else
	{
		closeFold();
	}
});


//监听关闭事件
$('#close-fold').click(function(){
	closeFold();
});

</script>