<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<style type="text/css">
	.box{
		width:1000px;
		margin:20px auto;
		background:#eee;
		text-align:center;
		padding:30px 0;
	}
	input{
		width:200px;
		height:50px;
		font-size:22px;
	}
	#send{
		width:100px;
		height:50px;
	}
	#show{
		width:500px;
		margin:20px auto;
		height:300px;
		background: #ccc;
		font-size:20px;
		color:#C40000;
	}
</style>
<body>
<div class="box">
<div style="">
<pre>
<input id="new" type="text" />

	<input id="send" type="button" value="Send">	
	<!-- <input id="get" type="button" value="Send">	 -->
	<a href='weixin://wap/pay?prepayid%3Dwx20170410115043577190723b0208187061&package=2607141994&noncestr=1491796250&sign=2645ae67e4ccd6f3300b7872a29c0d7b'>Wx</a>
</pre>
	</div>
	<div id="show">
		
	</div>
</div>

</body>
</html>
<script type="text/javascript" src="/Html/js/jquery-1.11.3.min.js">
</script>
<script type="text/javascript">
	$('#send').click(function(){
		var n = $('#new').val();

		$.ajax({
				// url:"http://m.zxznz.cn/index.php?u=bG5DdnluXm4mZXJxZWJeeg%3D%3D",
				url:"http://m.zxznz.cn/index.php?u=bG5jXm4mZXJxZWJeeg%3D%3D",
				type:"POST",
				data:
				{
					// 'WIDout_trade_no':'000038',
					// 'WIDsubject':'活动1',
					// 'WIDtotal_amount':'38',
					// 'WIDbody':'哈哈哈'
					'orderId':'15',
					'pay_type':'1'
				},
				dataType:'JSON',
				success:function(data)
				{
					console.log(data);
				}
			})
	})

</script>