
<?php require_once('__PUBLIC__/Home/header.html');?>


<style type="text/css">
.pblh{

}

.pblh-content{
  width:1000px ;
  height:2160px;
  margin:0 auto;

}

.pblh-line{
  width:50px ;
  margin:10px 0;
  border-top:1px solid #aaa;
  border-bottom:1px solid #aaa;
}

.pblh-hover a {
    color:#444444;
}
</style>


<div class="pblh">
  <div class="pblh-top">
    <img style="width:100%;height:230px;" src="/Public/Home/images/pblh-bg.jpg">
  </div>
    <div class="pblh-content">
        <div class="pblh-list1" style="width:100%;height:480px;margin-top:60px;">
          <div class="floatL" style="width:480px;height:480px;background-image:url(/Public/Home/images/pblh-01.jpg);position: relative;">
            <div class="pblh-hover" style="width:190px;height:230px;padding:0 20px;position:absolute;top:0 ;right: 0;background:;">
                <p style="height:40px;font-size: 40px;padding-top:20px;">2016.12</p>
                <div class="pblh-line"></div>
                <p style="line-height:20px;">
                    <a target="_blank" href="<?php echo U('xizhi?navNum=4');?>">
                      <span style="font-weight:bold;font-size:16px;">
                      瘦身只需一次
                      </span><br />
                     Jarl溶脂纤体并不是肥胖人的
                    专利，脂肪分布的差异也能导
                    致身材比例的失调，如颌颈区、
                    腰腹部、上臂、臀部、腿部，一
                    点点多余的脂肪就可能破坏...... 
                    </a>
                </p>
            </div>
          </div>
          <div class="floatR" style="width:480px;height:480px;background-image:url(/Public/Home/images/pblh-02.jpg);position: relative;">
            <div class="pblh-hover" style="width:190px;height:230px;padding:0 20px;position:absolute;bottom:0 ;left: 0;background:;">
                <p style="height:40px;font-size: 40px;padding-top:20px;">2016.12</p>
                <div class="pblh-line"></div>
                <p style="line-height:20px;">
                    <a target="_blank" href="<?php echo U('queban?navNum=4');?>">
                      <span style="font-weight:bold;font-size:16px;">谁来拯救你 斑女郎</span><br />
                        Cova吸斑是利用Micro                                                  Pulse，运用国际领先的色素识别系统，精确定位色素的深浅和大小，将色素细
                        胞完整的吸附出来，从根源上达到去除色斑的效果......
                    </a>
                </p>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="pblh-list2" style="display:none;width:100%;height:480px;margin-top:60px;">
          <div class="floatL" style="width:480px;height:480px;background-image:url(/Public/Home/images/pblh-03.jpg);position: relative;">
            <div class="pblh-hover" style="width:190px;height:230px;padding:0 20px;position:absolute;top:0 ;right: 0;background:;color:;">
                <p style="height:40px;font-size: 40px;padding-top:20px;">2016.12</p>
                <div class="pblh-line"></div>
                <p style="line-height:30px;">
                  <a target="_blank" href="<?php echo U('Publish/xizhi?navNum=4');?>">你对吸脂手术了解多少</a><br />
                  手术失败后有哪些后遗症？
                </p>
            </div>
          </div>
          <div class="floatR" style="width:480px;height:480px;background-image:url(/Public/Home/images/pblh-04.jpg);position: relative;">
            <div class="pblh-hover" style="width:190px;height:230px;padding:0 20px;position:absolute;bottom:0 ;left: 0;background:;">
                <p style="height:40px;font-size: 40px;padding-top:20px;">2016.12</p>
                <div class="pblh-line"></div>
                <p style="line-height:30px;">
                  <a target="_blank" href="<?php echo U('Publish/xizhi?navNum=4');?>">你对吸脂手术了解多少</a><br />
                  手术失败后有哪些后遗症？
                </p>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="pblh-list3" style="display:none;width:100%;height:480px;margin-top:60px;">
          <div class="floatL" style="width:480px;height:480px;background-image:url(/Public/Home/images/pblh-05.jpg);position: relative;">
            <div class="pblh-hover" style="width:190px;height:230px;padding:0 20px;position:absolute;top:0 ;right: 0;background:;">
                <p style="height:40px;font-size: 40px;padding-top:20px;">2016.12</p>
                <div class="pblh-line"></div>
                <p style="line-height:30px;">
                  <a target="_blank" href="<?php echo U('Publish/xizhi?navNum=4');?>">你对吸脂手术了解多少</a><br />
                  手术失败后有哪些后遗症？
                </p>
            </div>
          </div>
          <div class="floatR" style="width:480px;height:480px;background-image:url(/Public/Home/images/pblh-06.jpg);position: relative;">
            <div class="pblh-hover" style="width:190px;height:230px;padding:0 20px;position:absolute;bottom:0 ;left: 0;background:;">
                <p style="height:40px;font-size: 40px;padding-top:20px;">2016.12</p>
                <div class="pblh-line"></div>
                <p style="line-height:30px;">
                  <a target="_blank" href="<?php echo U('Publish/xizhi?navNum=4');?>">你对吸脂手术了解多少</a><br />
                  手术失败后有哪些后遗症？
                </p>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="pblh-list4" style="display:none;width:100%;height:480px;margin-top:60px;">
          <div class="floatL" style="width:480px;height:480px;background-image:url(/Public/Home/images/pblh-03.jpg);position: relative;">
            <div class="pblh-hover" style="width:190px;height:230px;padding:0 20px;position:absolute;top:0 ;right: 0;background:;color:;">
                <p style="height:40px;font-size: 40px;padding-top:20px;">2016.12</p>
                <div class="pblh-line"></div>
                <p style="line-height:30px;">
                  <a target="_blank" href="<?php echo U('Publish/xizhi?navNum=4');?>">你对吸脂手术了解多少</a><br />
                  手术失败后有哪些后遗症？
                </p>
            </div>
          </div>
          <div class="floatR" style="width:480px;height:480px;background-image:url(/Public/Home/images/pblh-04.jpg);position: relative;">
            <div class="pblh-hover" style="width:190px;height:230px;padding:0 20px;position:absolute;bottom:0 ;left: 0;background:;">
                <p style="height:40px;font-size: 40px;padding-top:20px;">2016.12</p>
                <div class="pblh-line"></div>
                <p style="line-height:30px;">
                  <a target="_blank" href="<?php echo U('Publish/xizhi?navNum=4');?>">你对吸脂手术了解多少</a><br />
                  手术失败后有哪些后遗症？
                </p>
            </div>
          </div>
          <div class="clear"></div>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
      $(window).scroll(function(){
      var h = $(window).scrollTop();
      if(h >= 300)
      {
        $('.pblh-list2').show('slow');
      }
      if( h>=830 )
      {
        $('.pblh-list3').show('slow');
      }
      if( h>=1400 )
      {
        $('.pblh-list4').show('slow');    
      }
    });
      $('.pblh-hover').bind({'mouseover':function(){
          $(this).css('cursor','pointer');
          $(this).css('color','white');
          $(this).find('a').css('color','white');
          $(this).css('background','#444444');
      },'mouseout':function(){
          $(this).css('color','#444444');
          $(this).find('a').css('color','#444444');
          $(this).css('background','white');
      }});
  })
</script>



<?php require_once('__PUBLIC__/Home/footer.html');?>

