<!-- header nav -->
<div class="top-fixed">
	<div class="top-logo">
		<img src="/Html/images/logo.png" alt="">
		<div class="user-option">
			<!-- <div class="not-login">
				<a href="login.html" title="" class="login-btn">登录</a>
				<a href="register.html" title="" class="register-btn">注册</a>
			</div> -->
			<div class="is-login">
				<div class="user-avatar">
					<img src="/Html/images/avatar-default.png" alt="">
				</div>
				<div class="user-nick">
					zhengxingzhinanzhn
				</div>
			</div>
		</div>
	</div>
	<div class="nav">
		<span class="icon icon-fold" id="open-fold"></span>
		<div class="fold-content" id="fold-content">
			<ul>
				<li><a href="/index.php">首页</a></li>
				<li><a href="/index.php?a=about">关于我们</a></li>
				<li><a href="/index.php?a=fashion">前沿发布</a></li>
				<li><a href="/index.php?a=activity">活动专场</a></li>
				<li><a href="/index.php?a=doctor-list">专家库</a></li>
				<li><a href="/index.php?a=hospital-list">医院专区</a></li>
				<li><a href="/index.php?a=guide">整形助手</a></li>
				<li><a href="/index.php?a=contact">联系我们</a></li>
			</ul>
			<div>
				<a href="javascript:void(0)" class="icon icon-close" id="close-fold"></a>
			</div>
		</div>
	</div>
</div>